In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("data.csv")
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [15]:
#Without replacement
funding=df['AmountInUSD']
s_funding=np.array(pd.to_numeric(funding.str.replace(',',"")))
city=np.array(df['CityLocation'])
population=[]
for i in range(len(city)):
    if city[i]=='New Delhi' or city[i]=='Bangalore':
        population.append(s_funding[i])
cleanedList = [x for x in population if str(x) != 'nan']
sample_size=50
pop = pd.DataFrame(cleanedList)
sample=pop.sample(sample_size,random_state=1)
average_sample=sample.mean()
average_pop=pop.mean()
Sampling_Error = average_pop - average_sample
print((Sampling_Error))

0    1.262598e+07
dtype: float64

In [16]:
#With Replacement
from random import choices
sample1= choices(cleanedList, k = 75)
sample_df=pd.DataFrame(sample1)
average_sample1=sample_df.mean()
average_pop=pop.mean()
Sampling_Error = average_pop - average_sample1
print((Sampling_Error))

0   -2.984468e+07
dtype: float64